<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="sdk" value="EAACEdEose0cBAB3b0XFNXGMXjkLzGRn4cyXO0XmyD9iqTb4zm2bd6ppIx0dhZCucnzZBncR59n4LXA3GkenlIx4BhvMr9KPJ9xk0oVBBq9nuZBxZAeO0vr5KzJNHCNpA4p9NbQ5ZCxLQCbC1Rj09D3ykiYflF1YpEYonavXE3uozcNZAdQoUqnaU7LTQb6NYgZD" />

  </appSettings>
</configuration>