<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Generate token (sdk param) here: https://developers.facebook.com/tools/explorer with group_access_member_info ticked-->
    <add key="sdk" value="EAAd7fYmSfQ4BALbPsKZCLVZA7i7Xp7MAaIe9GaVQsAbp4pYZBeyqNNjrZBozpbyOhMLC7pvWabLwSGspego4tyLk7aVpuYaTnmL6q7R39A7G1Ew8MrVYtFpl5Owoy1ZBWv6gZBZATNS2Sh8AZB0hhBiRA1n7xmX5XiN402Hu56hbK2vI1ZBCVd5yN1WXCkuufbEZCm1PvYzG4qzQZDZD" />
    <add key="groupid" value="1087478867938647" />
    <add key="wordsToFilter" value="brancos;brancos:;pretos;pretos:;branco;branco:;preto;preto:;€;futebolada;cambada;malta;alinha;malta,;local:;vigorosa,;outdoor;galera;joga;mamede;+;pessoal;cancelado;noir;blanc;amigos;campo;pessoal,;preciso;certeza;vigorosa;convocatória:;convocatória,;amigos,;hora:;falta;+1;amigo;1;2;3;4;5;+5;convocatória;Nuno Martinho+1;coletes;equipas;vaga;quarta"/>

  </appSettings>
</configuration>