<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    
    <add key="sdk" value="EAACEdEose0cBALGUgWwMbggcZCDm8Xy7y2MmY2385ZCAztqFxRM3Xu7v1b1deDk0bSEJYdUDZBx4WduKbGxhnoe7WARiNBpMGuVj892kP85csAowvf63B2pgTiEUu7asNMbO9vMPWU7g9p96bDtBHbsB0Jsi1N1bYG1KoMmSKtnDQV8LkeQUSGJ8SCQTOoZD" />

  </appSettings>
</configuration>